.screen{
    flex-grow: 1;
    word-break: normal;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #1B262C;
}

@media  screen and (max-height: 580px) {
    .screen{
        padding: 0 2%;
    }
  }
